<div class="container-xxxl" *ngIf="persona">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 img">
      <img src="{{persona.url_imagen}}" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" id="name">
      <h1>{{persona.nombre}}</h1>
      <h4>{{persona.ocupacion}}</h4>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 about-me" style="padding: 35px 10px 20px 15px;">
      <span>
        <h3>Acerca de mí</h3>
        <p>{{persona.sobremi}}</p>
      </span>
    </div>
  </div>
</div>