.container-xxxl{ 
  padding: 7px 5%;
  background-color: #4d877391;
}

.contenedor {
  width: auto;
}

.parte1, .parte2 {
  display: inline-block;
  text-align: justify;
}

img {
  height: 300px;
  width: 300px;
  box-shadow: 10px 10px 30px black;
}