<div class="container-xxxl">
  <circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
  </circle-progress>

  <circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'CSS'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
  </circle-progress>

  <circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'JS'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
  </circle-progress>

  <circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'PYTHON'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
  </circle-progress>

  <circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'C'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300">
  </circle-progress>
  
  <circle-progress
      [percent]="85"
      [radius]="100"
      [title]="'CSS'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300">
    </circle-progress>
</div>