<div class="container-xxxl">
  <h2>Experiencia Laboral</h2>
  <div class="col-lg-11">
    <ul>
      <li>
        <h3>Trabajo 1</h3> - <h4>(años)</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, perspiciatis. Voluptatem dignissimos, dolorem earum, odit qui, aliquid consectetur ullam repudiandae minima mollitia officia quae laborum?</p>
      </li>
      <li>
        <h3>Trabajo 2</h3> - <h4>(años)</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, perspiciatis. Voluptatem dignissimos, dolorem earum, odit qui, aliquid consectetur ullam repudiandae minima mollitia officia quae laborum?</p>
      </li>
      <li>
        <h3>Trabajo 3</h3> - <h4>(años)</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, perspiciatis. Voluptatem dignissimos, dolorem earum, odit qui, aliquid consectetur ullam repudiandae minima mollitia officia quae laborum?</p>
      </li>
    </ul>
  </div>
</div>